@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Editor */
  --editor-toolbar: #ffffff;
  --editor-border: #e5e7eb;

  /* Editor buttons */
  --editor-button: #4b5563;
  --editor-button-hover: #f3f4f6;
  --editor-button-active: #e5e7eb;
  --editor-button-active-text: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-editor-toolbar: var(--editor-toolbar);
  --color-editor-border: var(--editor-border);
  --color-editor-button: var(--editor-button);
  --color-editor-button-hover: var(--editor-button-hover);
  --color-editor-button-active: var(--editor-button-active);
  --color-editor-button-active-text: var(--editor-button-active-text);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}